@page "/"

<PageTitle>Home</PageTitle>

@if (Counter > 0)
{
    <h1>@Counter</h1>
}
else
{
    <h1>Time's up!</h1>
}


@code {

    // 

    int Counter { get; set; } = 10; 

    protected override async Task OnInitializedAsync()
    {
        while (Counter > 0)
        {
            await Task.Delay(TimeSpan.FromSeconds(1));
            Counter--;
            StateHasChanged();
        }        
    }
}
